#h1{
    color: green;
}
.display-4{
    color: darkorange;
}
.input-box{
    font-size: small;
    color: blue;
}
.jumbotron{
    color:blue;
    background-color: lightgreen;
    
}
.table{
    color: darkorange;
}